header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 0;
}
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 30px;
  margin-bottom: 20px;
}
.menu {
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  list-style: none;
}
h4:hover {
  background-color: black;
  color: white;
}
.allcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 100px;
  padding: 10px;
}
.pic {
  display: inline-block;
  margin: 0 auto;
}
p {
  text-align: center;
}

.second {
  text-align: center;
  font-size: 1.5em;
}
.third {
  max-width: 120px;
  padding: 8px 0;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: solid 1px #222;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: transparent;
  font-weight: 300;
}
.card {
  border: 1px solid lightgrey;
  border-radius: 5%;
  margin: 10px 1.5px;
}
.littlecard {
  margin-bottom: 20%;
}

p.one {
  font-weight: 530;
  margin: 0;
}
p.two {
  font-size: 10px;
  font-weight: bolder;
  color: lightgrey;
  margin: 0;
}
