header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 0;
}
.mid {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: large;
  display: flex;
  justify-content: right;
}
.sns {
  position: relative;
  top: 0;
  flex-direction: column;
  display: inline-flex;
  margin-left: 95%;
}
h4:hover {
  background-color: black;
  color: white;
}
.allcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pic {
  display: flex;
}
p {
  text-align: center;
}

.second {
  text-align: center;
  font-size: 1.5em;
}
.third {
  max-width: 120px;
  padding: 8px 0;
  font-size: 0.8rem;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: solid 1px #222;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: transparent;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.card {
  border: 1px solid lightgrey;
  border-radius: 5%;
  background-color: blue;
}
.littlecard {
  margin-bottom: 20%;
}

p.one {
  font-weight: bolder;
}
p.two {
  font-size: 10px;
  font-weight: bolder;
  color: lightgrey;
}
