header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 0;
  /* z-index: 1000;  */
}
.mid {
  text-align: right;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  font-size: large;
}
.sns {
  position: relative;
  top: 0;
  flex-direction: column;
  display: inline-flex;
  margin-left: 95%;
}
h4:hover {
  background-color: black;
  color: white;
}
.pic {
  display: inline-block;
}
p {
  text-align: center;
}

.second {
  text-align: center;
  font-size: 2.5em;
}
.third {
  max-width: 150px;
  padding: 8px 0;
  font-size: 0.8rem;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: solid 1px #222;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: transparent;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.bone {
  border: 1px solid lightgrey;
  border-radius: 5%;
}

p.one {
  font-weight: bolder;
}
p.two {
  font-size: 10px;
  font-weight: bolder;
  color: lightgrey;
}
