body {
  background-color: rgb(243, 239, 239);
  margin: 0 auto;
}
.start {
  background-color: #fff;
  margin: 1% 20% ;
  display: flex;
  flex-direction: column;
}
.all{
  background-color: #fff;
 
.first {
  margin-top: 10%;
}
h2 {
  text-align: center;
  border-top: 1%;
}
h3 {
  color: grey;
  text-align: center;
  font-weight: 500;
}
.box {
  margin-left: 15%;
}
input {
  width: 500px;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 5px 5px 0 0;
}
#checkbox {
  width: 15px;
  height: 15px;
  dis
}
.greenborder {
  border-color: lightgrey;
  outline-color: yellowgreen;
}
.second {
  margin: 3% 15%;
  max-width: 500px;
}
#checkbox {
  padding-top: 20%;
  margin-left: 1%;
}
.third {
  display: inline;
  padding-left: 10px;
  color: grey;
  font-size: 14px;
}
.fourth {
  margin-left: 15%;
  margin-bottom: 2%;
  border: 5px solid yellowgreen;
  background-color: yellowgreen;
  text-align: center;
  max-width: 480px;
  height: 35px;
  padding: 10px;
}
button {
  border: 0;
  background-color: transparent;
  color: white;
}
.login {
  font-weight: bold;
  font-size: 20px;
}
.fifth {
  margin: 1% 17%;
  color: grey;
  font-size: 13px;
}
.sixth {
  display: flex;
  margin-bottom: 2%;
}
hr {
  max-width: 500px;
  margin-top: 2%;
  margin-right: 18%;
  color: lightgrey;
}
.cjonepicture {
  margin-left: 15%;
}
.seventh {
  font-weight: 800;
  font-size: small;
  margin-left: 15%;
  color: grey;
  margin-bottom: 100px;
}
.cjone {
  display: inline;
  background-color: transparent;
  border: 1px lightgray solid;
  border-radius: 5%;
  margin-left: 100px;
  padding: 10px 20px;
  margin-left: 110px;
  color: black;
  font-weight: 600;
}
