p {
  text-align: center;
}
.first {
  margin-top: 10%;
}
.third {
  display: inline-block;
  margin-left: 70%;
}
.fourth {
  margin: 0 auto;
  border: 5px solid rgb(122, 194, 13);
  background-color: rgb(14, 156, 14);
  color: white;
  text-align: center;
  max-width: 300px;
}
